@if (!isPasswordChangeRequired) {
    <app-sidebar></app-sidebar>
}
<main class="min-h-screen flex flex-col transition-all duration-300"
      [class.ml-[280px]]="!isPasswordChangeRequired">
    @if (!isPasswordChangeRequired) {
        <app-header></app-header>
    }
    
    <!-- Page Canvas -->
    <div class="flex-grow">
        <router-outlet></router-outlet>
    </div>

    <!-- Footer / Copyright -->
    @if (!isPasswordChangeRequired) {
        <footer class="mt-auto p-[24px] text-center border-t border-outline-variant bg-surface-container-low">
            <p class="text-label-md text-on-surface-variant">© 2026 IDS Expense Management - Tous droits réservés.</p>
        </footer>
    }
</main>

